<div class="row">
    <div class="col-sm-12 col-md-12">



        <div class="card">
            <div class="card-header">
                <div id="view_report_buttons col-xs-12" class="pull-right">
                    <button class="btn yellowBG" (click)="mostrarPanelNuevoCliente()"><span class="fa fa-address-book-o"></span> Ingresar Nuevo Cliente </button>
                    <button class="btn redBG" (click)="mostrarPanelEliminarCliente()"><span class="fa fa-minus-circle"></span> Eliminar Cliente </button>


                </div>

                <div class="col-md-8 cold-md-offset-2" [hidden]="mostrarFormularioAgregarCliente">
                    <br>
                    <form ngNativeValidate #addCustomerForm="ngForm" (ngSubmit)="addCustomerSubmit(addCustomerForm)">
                        <div class="form-group col-md-4">
                            <input name="id" type='number' placeholder='Numero de Identificacion' class='form-control' ngModel required #first="ngModel">
                        </div>
                        <div class="form-group col-md-4">
                            <input name="name" type='text' placeholder='Nombre del Cliente' class='form-control' ngModel required #first="ngModel">
                        </div>
                        <div class="form-group col-md-4">
                            <input name="company" type='text' placeholder='Compania' class='form-control' ngModel required #first="ngModel">
                        </div>
                        <div class="form-group col-md-4">
                            <input name="position" type='text' placeholder='Posicion' class='form-control' ngModel required #first="ngModel">
                        </div>
                        <div class="form-group col-md-4">
                            <input name="tel" type='tel' placeholder='Telefono de contacto' class='form-control' ngModel required #first="ngModel">
                        </div>
                        <div class="form-group col-md-4">
                            <input name="email" type='email' placeholder='Email de contacto' class='form-control' ngModel required #first="ngModel">
                        </div>
                        <div class="form-group col-md-4">
                            <button class="btn yellowBG"> Enviar </button>
                        </div>
                        <div class="form-group col-md-4">
                            <button class="btn blueBG" (click)="cerrarPanelClientes()"><span class="fa fa-minus-circle"></span> Cerrar Panel Clientes </button>
                        </div>
                    </form>
                </div>

                <div class="col-md-8 cold-md-offset-2" [hidden]="mostrarFormularioEliminarCliente">
                    <br>
                    <form ngNativeValidate #removeCustomerForm="ngForm" (ngSubmit)="removeCustomerSubmit(removeCustomerForm)">
                        <div class="form-group col-md-4">
                            <input name="id" type='number' placeholder='Numero de Identificacion' class='form-control' ngModel required #first="ngModel">
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn redBG"> Eliminar </button>
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn blueBG" (click)="cerrarPanelClientes()"><span class="fa fa-minus-circle"></span> Cerrar Panel Clientes </button>
                        </div>
                    </form>
                </div>


            </div>


        </div>