<div class="darkBlueBG jumbotron">
    <div class="container">
        <h1>Bienvenidos a Robus Raffle App !</h1>
        <p>El dia de hoy estamos premiando a la Familia Btiana agradeciendo su fidelizacion por confiar sus ideas y proyectos con nosotros. </p>
        <p>
            <a class=" btn yellowBG btn-lg" href="http://www.ideabti.com/" role="button"> <i class="fa fa-sign-in" aria-hidden="true"></i> Ingresa a la fabrica de la innovaccion</a>
        </p>
        <app-customer></app-customer>
    </div>
</div>